# this has all the information related to SMBIOS do not commit
WHAT.md
.*
*/.*
patches.elitedesk800.*/smbios*
patches.elitedesk800.*/*.aml
backup/*
old/*
sources.opencore/bios.settings.*.txt
framebuffer/*
release/*
!.gitignore
